---
// Tech Stack scrolling carousel — inline SVGs, no external images
const techs = [
  {
    name: 'Next.js',
    svg: `<svg viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="180"><circle cx="90" cy="90" r="90" fill="black"/></mask><g mask="url(#a)"><circle cx="90" cy="90" r="87" fill="black" stroke="white" stroke-width="6"/><path d="M149.508 157.52L69.142 54H54v71.97h12.114V69.384l73.885 95.461a90.304 90.304 0 009.509-7.325Z" fill="url(#b)"/><path d="M115 54h12v72h-12z" fill="url(#c)"/></g><defs><linearGradient id="b" x1="109" y1="116.5" x2="144.5" y2="160.5" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient><linearGradient id="c" x1="121" y1="54" x2="120.799" y2="106.875" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient></defs></svg>`,
  },
  {
    name: 'TypeScript',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><rect width="128" height="128" rx="10" fill="#3178C6"/><path fill="#fff" d="M82.8 89.6c0 5.3 2.7 9.3 7 11.7 4.3 2.5 9.8 3.1 15.2 1.9 2.2-.5 4.3-1.4 6-2.7 1.8-1.3 3.2-3 4.1-5 .9-2 1.1-4.2.7-6.3-.5-2.5-2-4.5-4.2-6.1-2.8-2-6-3.2-9.2-4.2-2.5-.8-4.5-1.5-5.8-2.5-1.2-.9-1.5-1.8-1.5-3 0-1 .5-2 1.5-2.7 1.2-.8 2.8-1.2 4.8-1.2 2.2 0 4 .5 5.3 1.5 1.2 1 2 2.4 2.2 4.2l9.5-1.5c-.5-3.8-2.3-6.8-5.3-9-3-2.2-6.8-3.3-11.5-3.3-3.2 0-6 .5-8.5 1.6-2.5 1.1-4.4 2.7-5.7 4.7-1.3 2-2 4.2-2 6.5 0 4.2 2 7.3 5.8 9.5 2.5 1.4 6 2.7 10.2 3.8 2.8.8 4.8 1.7 5.8 2.7 1 1 1.3 2 1.1 3.2-.2 1.3-.9 2.3-2.2 3.1-1.4.9-3.2 1.3-5.5 1.3-2.6 0-4.7-.7-6.3-2-1.5-1.3-2.5-3.2-2.8-5.5l-9.6 1.3zM28 63.7h11.2v41.5h9.6V63.7h11.2V55H28v8.7z"/></svg>`,
  },
  {
    name: 'JavaScript',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><rect width="128" height="128" rx="10" fill="#F7DF1E"/><path d="M34.3 108.6l9.8-5.9c1.9 3.4 3.6 6.2 7.7 6.2 3.9 0 6.4-1.5 6.4-7.5V63.5h12.1v38.2c0 12.4-7.3 18.1-17.9 18.1-9.6 0-15.2-5-18.1-11.2zm42.8-1.3l9.8-5.7c2.6 4.2 5.9 7.3 11.8 7.3 5 0 8.1-2.5 8.1-5.9 0-4.1-3.3-5.6-8.7-8l-3-1.3c-8.6-3.7-14.4-8.3-14.4-18 0-9 6.8-15.8 17.5-15.8 7.6 0 13 2.6 17 9.5l-9.3 6c-2-3.7-4.3-5.1-7.7-5.1-3.5 0-5.7 2.2-5.7 5.1 0 3.6 2.2 5 7.4 7.3l3 1.3c10.2 4.4 16 8.8 16 18.8 0 10.8-8.5 16.7-19.9 16.7-11.2 0-18.4-5.3-21.9-12.2z"/></svg>`,
  },
  {
    name: 'Python',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><linearGradient id="py1" x1="12.959" x2="79.639" y1="12.039" y2="78.719" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#387EB8"/><stop offset="1" stop-color="#366994"/></linearGradient><linearGradient id="py2" x1="55.549" x2="110.029" y1="48.96" y2="117.999" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#FFE052"/><stop offset="1" stop-color="#FFC331"/></linearGradient><path fill="url(#py1)" d="M63.391 1.988c-4.222.02-8.252.379-11.8 1.007-10.45 1.846-12.346 5.71-12.346 12.837v9.411h24.693v3.137H29.977c-7.176 0-13.46 4.313-15.426 12.521-2.268 9.405-2.368 15.275 0 25.096 1.755 7.311 5.947 12.519 13.124 12.519h8.491V67.234c0-8.151 7.051-15.34 15.426-15.34h24.665c6.866 0 12.346-5.654 12.346-12.548V15.833c0-6.693-5.646-11.72-12.346-12.837-4.244-.706-8.645-1.027-12.866-1.008zM50.037 9.557c2.55 0 4.634 2.117 4.634 4.721 0 2.593-2.083 4.69-4.634 4.69-2.56 0-4.633-2.097-4.633-4.69-.001-2.604 2.073-4.721 4.633-4.721z"/><path fill="url(#py2)" d="M91.682 28.38v10.966c0 8.5-7.208 15.655-15.426 15.655H51.591c-6.756 0-12.346 5.783-12.346 12.549v23.515c0 6.691 5.818 10.628 12.346 12.547 7.816 2.297 15.312 2.713 24.665 0 6.216-1.801 12.346-5.423 12.346-12.547v-9.412H63.938v-3.138h37.012c7.176 0 9.852-5.005 12.348-12.519 2.578-7.735 2.467-15.174 0-25.096-1.774-7.145-5.161-12.521-12.348-12.521h-9.268zM78.79 94.392c2.561 0 4.634 2.097 4.634 4.692 0 2.602-2.074 4.719-4.634 4.719-2.55 0-4.633-2.117-4.633-4.719 0-2.595 2.083-4.692 4.633-4.692z"/></svg>`,
  },
  {
    name: 'MongoDB',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#439934" d="M90.491 57.282c-4.525-14.71-15.985-25.894-22.117-32.676C64.835 20.73 62.36 16 62.36 16l-.727 42.833-.002.003c-.098 1.584.807 3.216 2.76 4.437 2.098 1.311 3.523 3.273 3.523 5.553v.023c0 2.16-1.324 4.028-3.217 5.28-1.996 1.322-3.016 2.888-3.097 4.485l-.002.033-.003.03.727 30.454s.327 2.173 1.152 4.22c1.243 3.086 8.12 12.796 8.12 12.796s1.535-21.13 1.745-24.813c.318-5.558 3.145-7.764 5.053-10.589 1.863-2.757 21.642-27.845 12.098-53.462"/><path fill="#45A538" d="M69.338 86.19c.318-5.558 3.145-7.764 5.053-10.589C76.254 72.844 96.033 47.756 86.49 22.15c-4.525-14.71-15.985-25.894-22.117-32.676-.538-.534-2.062-4.12-2.062-4.12L62.36 16l-.727 42.833-.002.003c-.098 1.584.807 3.216 2.76 4.437 2.098 1.311 3.523 3.273 3.523 5.553v.023c0 2.16-1.324 4.028-3.217 5.28-1.996 1.322-3.016 2.888-3.097 4.485l-.002.033-.003.03.727 30.454s.327 2.173 1.152 4.22C65.717 116.437 72.594 126.147 72.594 126.147s1.535-21.13 1.745-24.813"/><path fill="#46A037" d="M65.084 85.072c.271-4.643 2.632-6.488 4.233-8.851 1.559-2.304 18.119-23.27 10.13-44.697-3.788-12.296-13.388-21.644-18.523-27.315-.45-.447-1.028-2.245-1.028-2.245L59.92 16l-.608 35.783-.002.003c-.082 1.324.675 2.688 2.313 3.709 1.757 1.096 2.952 2.736 2.952 4.641v.019c0 1.806-1.109 3.368-2.694 4.415-1.672 1.105-2.526 2.414-2.594 3.75l-.001.027-.003.025.608 25.459s.274 1.816.965 3.528c1.041 2.58 6.802 10.695 6.802 10.695s1.286-17.662 1.461-20.74"/></svg>`,
  },
  {
    name: 'PostgreSQL',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path d="M93.809 92.112c.785-6.533.55-7.492 5.416-6.433l1.235.108c3.742.17 8.637-.602 11.513-1.938 6.191-2.873 9.861-7.668 3.758-6.408-13.924 2.873-14.881-1.842-14.881-1.842 14.703-21.816 20.849-49.508 15.545-56.287-14.47-18.489-39.478-9.749-39.878-9.556l-.134.024c-2.751-.571-5.83-.912-9.289-.971-6.301-.108-11.082 1.652-14.686 4.34 0 0-44.555-18.364-42.482 23.097.44 8.82 12.63 66.713 27.169 49.223 5.314-6.388 10.449-11.793 10.449-11.793 2.549 1.694 5.6 2.567 8.82 2.255l.249-.212c-.078.767-.044 1.52.098 2.4-3.72 4.163-2.627 4.891-10.064 6.42-7.52 1.544-3.104 4.293-.218 5.012 3.504.874 11.612 2.112 17.1-5.534l-.221.895c1.47 1.178 2.496 7.672 2.322 13.56-.174 5.887-.348 9.886.525 13.038.873 3.151 1.745 10.236 9.196 8.136 6.221-1.751 9.42-6.296 9.854-13.868.309-5.381.242-4.595 1.117-12.09l.296-2.207c.344-2.955.598-5.18 3.795-4.597l.897.107c2.69.148 6.21-.45 8.272-1.393 4.449-2.064 7.085-5.51 2.7-4.606z" fill="#336791"/><path d="M66.509 81.597c-1.233-.161-2.32-.256-3.264-.266-2.088-.023-3.423.461-4.225 1.53-.36.48-.593 1.07-.702 1.758-.137.872-.181 1.751-.181 2.669 0 1.22.095 2.543.18 3.549.085.995.253 2.216.477 3.638-.025.25-.35 2.584-2.085 4.267-1.756 1.703-3.723 2.538-5.853 2.485-1.64-.041-3.086-.746-4.296-2.098-2.55-2.846-4.333-7.873-5.297-14.935-2.158-15.832 2.39-30.003 6.428-37.682 5.078-9.667 13.38-16.453 24.218-19.791 9.395-2.893 19.103-3.26 27.36.006.032.013.064.024.097.036-.67.397-1.326.817-1.961 1.266-8.747 6.194-13.36 16.313-13.689 30.088-.113 4.712.452 10.116 1.548 15.652-.086.153-.179.301-.271.449-1.503 2.416-3.558 4.039-5.717 4.505-1.38.299-2.7.144-3.777-.445" fill="#fff"/><path d="M115.997 76.65c-.564-.395-1.228-.668-1.973-.828-1.202-.259-2.622-.172-4.248.263-2.313.618-4.07 1.545-5.164 2.726-1.478 1.594-1.675 3.282-.548 4.713.764 1.052 2.23 1.71 3.942 1.816.273.017.554.017.832.004 3.037-.139 6.399-1.423 9.277-3.545.032-.024.064-.046.098-.069-.78-1.912-1.29-3.572-2.216-5.08" fill="#fff"/><path d="M108.364 76.19c-.258-.068-.518-.13-.779-.183 2.36-.95 4.476-2.34 5.946-4.107l.12-.147c.148.31.29.628.42.956-.03.022-.058.046-.089.068-1.797 1.325-3.689 2.416-5.618 3.413" fill="#fff"/></svg>`,
  },
  {
    name: 'AWS',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#F90" d="M38.089 77.466l-11.4 4.896 10.559 4.514 12.241-4.514-11.4-4.896zm-17.138 6.12l-.382 22.034 16.679 7.345V90.089L20.951 83.586zm34.276 0l-14.772 7.652v20.881l14.772-8.728V83.586zM75.18 66.078l-11.4 4.896 10.558 4.514 12.241-4.514L75.18 66.078zM58.042 72.198l-.382 22.034 16.679 7.345V78.701L58.042 72.198zm34.275 0l-14.771 7.652v20.881l14.771-8.728V72.198zM112.27 55.078l-11.399 4.896 10.558 4.514 12.241-4.514-11.4-4.896zm-17.137 6.12l-.383 22.035 16.679 7.345V67.701L95.133 61.198zm34.276 0L114.638 68.85v20.881l14.771-8.728V61.198z"/><path fill="#F90" d="M64 .5C29.38.5 1.28 24.676.02 55.5h127.96C126.72 24.676 98.62.5 64 .5z" opacity=".4"/></svg>`,
  },
  {
    name: 'WordPress',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#21759B" d="M64.094 126.224c34.275 0 62.119-27.849 62.119-62.13C126.213 29.818 98.369 1.97 64.094 1.97 29.824 1.97 1.976 29.818 1.976 64.094c0 34.281 27.848 62.13 62.118 62.13zm0-119.225c31.5 0 57.1 25.6 57.1 57.1s-25.6 57.1-57.1 57.1-57.1-25.6-57.1-57.1 25.6-57.1 57.1-57.1z"/><path fill="#21759B" d="M64.094 9.27c-30.27 0-54.825 24.558-54.825 54.824 0 30.27 24.555 54.83 54.825 54.83 30.27 0 54.83-24.56 54.83-54.83 0-30.266-24.56-54.824-54.83-54.824zm-41.28 54.824c0-6.635 1.58-12.905 4.37-18.46l24.05 65.893c-16.88-8.217-28.42-25.555-28.42-47.433zm41.28 48.57c-4.655 0-9.145-.675-13.395-1.9l14.225-41.34 14.58 39.94c.095.235.21.445.33.645-4.97 1.7-10.27 2.655-15.74 2.655zm6.505-71.27c2.86-.15 5.435-.45 5.435-.45 2.555-.305 2.255-4.06-.305-3.915 0 0-7.695.605-12.665.605-4.665 0-12.51-.605-12.51-.605-2.56-.145-2.855 3.76-.305 3.915 0 0 2.425.3 5.005.45L62.29 57.78l-10.46 31.38L38.2 41.394c2.86-.15 5.435-.45 5.435-.45 2.56-.305 2.255-4.06-.305-3.915 0 0-7.69.605-12.665.605-.89 0-1.94-.025-3.055-.06 8.49-12.895 23.035-21.4 39.485-21.4 12.26 0 23.43 4.69 31.795 12.38-.2-.015-.395-.04-.6-.04-4.665 0-7.975 4.06-7.975 8.42 0 3.915 2.26 7.225 4.665 11.14 1.81 3.165 3.915 7.225 3.915 13.095 0 4.06-1.555 8.775-3.615 15.345L90.7 89.19 70.6 41.394z"/></svg>`,
  },
  {
    name: 'React',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><circle cx="64" cy="64" r="11.4" fill="#61DAFB"/><path fill="none" stroke="#61DAFB" stroke-width="5.2" d="M107.3 45.2c-2.2-.8-4.5-1.6-6.9-2.3.6-2.4 1.1-4.8 1.5-7.1 2.1-13.2-.2-22.5-6.6-26.1-1.9-1.1-4-1.6-6.4-1.6-7 0-15.9 5.2-24.9 13.9-9-8.7-17.9-13.9-24.9-13.9-2.4 0-4.5.5-6.4 1.6-6.4 3.7-8.7 13-6.6 26.1.4 2.3.9 4.7 1.5 7.1-2.4.7-4.7 1.4-6.9 2.3C8.2 50 1.4 56.6 1.4 64s6.9 14 19.3 18.8c2.2.8 4.5 1.6 6.9 2.3-.6 2.4-1.1 4.8-1.5 7.1-2.1 13.2.2 22.5 6.6 26.1 1.9 1.1 4 1.6 6.4 1.6 7.1 0 16-5.2 24.9-13.9 9 8.7 17.9 13.9 24.9 13.9 2.4 0 4.5-.5 6.4-1.6 6.4-3.7 8.7-13 6.6-26.1-.4-2.3-.9-4.7-1.5-7.1 2.4-.7 4.7-1.4 6.9-2.3 12.5-4.8 19.3-11.4 19.3-18.8s-6.8-14-19.3-18.8zM92.5 14.7c4.1 2.4 5.5 9.8 3.8 20.3-.3 2.1-.8 4.3-1.4 6.6-5.2-1.2-10.7-2-16.5-2.5-3.4-4.8-6.9-9.1-10.4-13 7.4-7.3 14.9-12.3 21-12.3 1.3 0 2.5.3 3.5.9zM81.3 74c-1.8 3.2-3.9 6.4-6.1 9.6-3.7.3-7.4.4-11.2.4-3.9 0-7.6-.1-11.2-.4-2.2-3.2-4.2-6.4-6-9.6-1.9-3.3-3.7-6.7-5.3-10 1.6-3.3 3.4-6.7 5.3-10 1.8-3.2 3.9-6.4 6.1-9.6 3.7-.3 7.4-.4 11.2-.4 3.9 0 7.6.1 11.2.4 2.2 3.2 4.2 6.4 6 9.6 1.9 3.3 3.7 6.7 5.3 10-1.7 3.3-3.4 6.7-5.3 10zm8.3-3.3c1.5 3.5 2.7 6.9 3.8 10.3-3.4.8-7 1.4-10.8 1.9 1.2-1.9 2.5-3.9 3.6-6 1.2-2 2.3-4.1 3.4-6.2zM64 97.8c-2.4-2.6-4.7-5.4-6.9-8.3 2.3.1 4.6.2 6.9.2 2.3 0 4.6-.1 6.9-.2-2.2 2.9-4.5 5.7-6.9 8.3zm-18.6-15c-3.8-.5-7.4-1.1-10.8-1.9 1.1-3.3 2.3-6.8 3.8-10.3 1.1 2 2.2 4.1 3.4 6.1 1.2 2.1 2.4 4.1 3.6 6.1zm-7-25.5c-1.5-3.5-2.7-6.9-3.8-10.3 3.4-.8 7-1.4 10.8-1.9-1.2 1.9-2.5 3.9-3.6 6-1.2 2-2.3 4.1-3.4 6.2zM64 30.2c2.4 2.6 4.7 5.4 6.9 8.3-2.3-.1-4.6-.2-6.9-.2-2.3 0-4.6.1-6.9.2 2.2-2.9 4.5-5.7 6.9-8.3zm22.2 21l-3.6-6c3.8.5 7.4 1.1 10.8 1.9-1.1 3.3-2.3 6.8-3.8 10.3-1.1-2.1-2.2-4.2-3.4-6.2zM31.7 35c-1.7-10.5-.3-17.9 3.8-20.3 1-.6 2.2-.9 3.5-.9 6 0 13.5 4.9 21 12.3-3.5 3.8-7 8.2-10.4 13-5.8.5-11.3 1.4-16.5 2.5-.6-2.3-1-4.5-1.4-6.6zM7 64c0-4.7 5.7-9.7 15.7-13.4 2-.8 4.2-1.5 6.4-2.1 1.6 5 3.6 10.3 6 15.6-2.4 5.3-4.5 10.5-6 15.5C15.3 75.6 7 69.6 7 64zm28.5 49.3c-4.1-2.4-5.5-9.8-3.8-20.3.3-2.1.8-4.3 1.4-6.6 5.2 1.2 10.7 2 16.5 2.5 3.4 4.8 6.9 9.1 10.4 13-7.4 7.3-14.9 12.3-21 12.3-1.3 0-2.5-.3-3.5-.9zM96.3 93c1.7 10.5.3 17.9-3.8 20.3-1 .6-2.2.9-3.5.9-6 0-13.5-4.9-21-12.3 3.5-3.8 7-8.2 10.4-13 5.8-.5 11.3-1.4 16.5-2.5.6 2.3 1 4.5 1.4 6.6zm9.9-29.6c-2 .8-4.2 1.5-6.4 2.1-1.6-5-3.6-10.3-6-15.6 2.4-5.3 4.5-10.5 6-15.5 13.8 4.1 20.6 10.2 20.6 15.6 0 4.7-5.8 9.7-14.2 13.4z"/></svg>`,
  },
  {
    name: 'Node.js',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#539E43" d="M114.325 79.996c-1.39-.24-2.73-.02-3.97.55-1.29.6-2.13 1.74-2.79 2.99-1.47 2.82-1.99 5.96-2.63 9.03-.52 2.52-1.14 5-2.63 7.14-1.05 1.52-2.4 2.4-4.18 2.69-1.61.26-3.15-.04-4.68-.52-4.49-1.42-8.46-3.91-12.34-6.56a74.28 74.28 0 01-6.22-4.88c-1.61-1.39-3.1-2.92-4.87-4.04-1.42-.9-2.96-1.53-4.64-1.72-2.5-.28-4.72.46-6.73 1.85-2.85 1.97-5.09 4.57-7.2 7.3-2.75 3.56-5.11 7.37-7.88 10.89-1.2 1.52-2.46 2.96-4.05 4.09-1.27.9-2.68 1.39-4.29 1.01-1.45-.34-2.44-1.32-3.25-2.48-1.66-2.39-2.57-5.1-3.33-7.87-1.33-4.87-2.17-9.85-2.87-14.86-.54-3.87-.97-7.75-1.21-11.65-.08-1.29-.14-2.59-.02-3.88.1-1.12.41-2.16 1.23-2.97.81-.8 1.77-1.17 2.93-1.04 1.42.16 2.58.89 3.6 1.82 2.22 2.04 3.89 4.54 5.44 7.12 1.83 3.05 3.49 6.2 5.44 9.18 1.02 1.55 2.12 3.04 3.61 4.16 1.12.84 2.35 1.23 3.77.97 1.9-.35 3.28-1.49 4.38-3.05 1.56-2.22 2.46-4.73 3.25-7.3 1.36-4.46 2.24-9.03 2.91-13.64.48-3.32.83-6.66 1.02-10.01.11-1.88.14-3.77-.02-5.65-.15-1.75-.47-3.46-1.18-5.08-.91-2.08-2.38-3.58-4.55-4.35-1.58-.56-3.2-.74-4.85-.67-2.31.1-4.55.6-6.72 1.38-4.07 1.46-7.77 3.6-11.34 5.97-1.94 1.29-3.82 2.66-5.7 4.03-.37.27-.75.54-1.14.78l-.06-.09c.09-.74.18-1.48.3-2.21.66-3.82 1.43-7.62 2.37-11.38 1.22-4.87 2.72-9.65 4.78-14.24 1.55-3.45 3.38-6.72 5.89-9.55 1.48-1.67 3.15-3.1 5.17-4.06 1.12-.53 2.3-.82 3.54-.73 1.84.13 3.14 1.11 4.18 2.52 1.42 1.92 2.22 4.14 2.88 6.4 1.03 3.52 1.63 7.13 2.08 10.76.46 3.72.71 7.46.82 11.21.02.63.05 1.26.08 1.88l.05.06c1.23-.78 2.44-1.58 3.67-2.34 3.68-2.27 7.49-4.3 11.58-5.82 2.45-.91 4.96-1.56 7.57-1.7 1.62-.09 3.2.05 4.72.63 2.17.82 3.59 2.35 4.38 4.49.63 1.72.87 3.51.95 5.33.08 2 0 3.99-.16 5.97-.4 4.88-1.18 9.71-2.19 14.5-.81 3.83-1.76 7.63-2.92 11.37l-.13.4z"/></svg>`,
  },
  {
    name: 'Docker',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#019BC6" d="M124.8 52.1c-4.3-2.5-10-2.8-14.8-1.4-.6-5.2-4-9.7-8-12.9l-1.6-1.3-1.4 1.6c-2.7 3.1-3.5 8.3-3.1 12.3.3 2.9 1.2 5.9 3 8.3-1.4.8-2.9 1.9-4.3 2.4-2.8 1-5.8 2-8.9 2H79V49h-9V36H54V22H36v14H22v14H8v14H2v14c0 .2.2 17.4 9.6 27.3C17.1 113.8 25 118 36.1 118h68.8c9.6 0 17.4-4 23.6-11.7 4.5-5.6 7.4-13 8.3-21.2 3.6.7 8.2-.2 11.8-2.9l1.5-1.1-1.3-1z"/><path fill="#fff" d="M25 51h10v11H25zM38 51h10v11H38zM51 51h10v11H51zM64 51h10v11H64zM38 38h10v11H38zM51 38h10v11H51zM64 38h10v11H64zM51 25h10v11H51zM77 51h10v11H77z"/></svg>`,
  },
  {
    name: 'Tailwind CSS',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#38BDF8" d="M64.004 25.602c-17.067 0-27.73 8.53-32 25.597 6.398-8.531 13.867-11.73 22.398-9.597 4.871 1.214 8.352 4.746 12.207 8.66C72.883 56.629 80.145 64 96.004 64c17.066 0 27.73-8.531 32-25.602-6.399 8.536-13.867 11.735-22.399 9.602-4.87-1.215-8.347-4.746-12.207-8.66-6.27-6.367-13.53-13.738-29.394-13.738zM32.004 64c-17.066 0-27.73 8.531-32 25.602C6.402 81.066 13.87 77.867 22.402 80c4.871 1.215 8.352 4.746 12.207 8.66 6.274 6.367 13.536 13.738 29.395 13.738 17.066 0 27.73-8.53 32-25.597-6.399 8.531-13.867 11.73-22.399 9.597-4.87-1.214-8.347-4.746-12.207-8.66C55.128 71.371 47.868 64 32.004 64z"/></svg>`,
  },
  {
    name: 'Firebase',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#FFA000" d="M20.666 81.753L31.12 5.155a2.85 2.85 0 015.316-.807l10.96 20.444-26.73 56.96z"/><path fill="#F57C00" d="M75.917 42.612L64.279 20.204 53.396 0.605a2.852 2.852 0 00-5.072.227L20.666 81.753l55.251-39.141z"/><path fill="#FFCA28" d="M99.728 36.45a2.85 2.85 0 00-4.883-.904L75.917 42.612l-11.638 22.408L99.728 36.45zM64 125.68l38.78-22.04L95.832 39.483 64 81.753l-43.334 21.887L64 125.68z"/><path fill="#FFA000" d="M64 125.68V81.753L20.666 103.64 64 125.68z"/><path fill="#F57C00" d="M64 125.68l38.78-22.04-7.052-64.157L64 81.753z"/><path opacity=".2" fill="#fff" d="M99.728 36.45L95.832 39.483l3.896 64.157L64 125.68l38.78-22.04z"/></svg>`,
  },
  {
    name: 'Figma',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#0ACF83" d="M45.5 129c11.598 0 21-9.402 21-21V87H45.5c-11.598 0-21 9.402-21 21s9.402 21 21 21z"/><path fill="#A259FF" d="M24.5 66c0-11.598 9.402-21 21-21h21v42h-21c-11.598 0-21-9.402-21-21z"/><path fill="#F24E1E" d="M24.5 24c0-11.598 9.402-21 21-21h21v42h-21c-11.598 0-21-9.402-21-21z"/><path fill="#FF7262" d="M66.5 3h21c11.598 0 21 9.402 21 21s-9.402 21-21 21h-21V3z"/><path fill="#1ABCFE" d="M108.5 66c0 11.598-9.402 21-21 21s-21-9.402-21-21 9.402-21 21-21 21 9.402 21 21z"/></svg>`,
  },
  {
    name: 'Git',
    svg: `<svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><path fill="#F34F29" d="M124.737 58.378L69.621 3.264c-3.172-3.174-8.32-3.174-11.497 0L46.68 14.71l14.518 14.518c3.375-1.139 7.243-.375 9.932 2.314 2.703 2.706 3.461 6.607 2.294 9.993l13.992 13.993c3.385-1.167 7.292-.413 9.994 2.295 3.78 3.777 3.78 9.9 0 13.679a9.673 9.673 0 01-13.683 0 9.677 9.677 0 01-2.105-10.521L68.574 47.933l-.002 34.341a9.708 9.708 0 012.559 1.828c3.778 3.777 3.778 9.898 0 13.683-3.779 3.777-9.904 3.777-13.679 0-3.778-3.784-3.778-9.905 0-13.683a9.65 9.65 0 013.167-2.11V47.333a9.581 9.581 0 01-3.167-2.111c-2.862-2.86-3.551-7.06-2.083-10.576L41.056 20.333 3.264 58.123a8.133 8.133 0 000 11.5l55.117 55.114c3.174 3.174 8.32 3.174 11.499 0l54.858-54.858a8.135 8.135 0 00-.001-11.501z"/></svg>`,
  },
];

// Triple for seamless infinite scroll
const items = [...techs, ...techs, ...techs];
---

<section aria-labelledby="tech-stack-heading" class="relative overflow-hidden bg-[var(--bg)] py-12 md:py-20 border-b border-[var(--border)]">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mb-10 text-center">
    <p class="text-xs font-bold uppercase tracking-[0.4em] text-[var(--accent)] mb-4 opacity-80">
      Our Global Tech Stack
    </p>
    <h2
      id="tech-stack-heading"
      class="font-heading text-2xl sm:text-3xl md:text-4xl font-bold text-[var(--text)] leading-tight"
    >
      Powering next-generation digital experiences with
      <span class="bg-gradient-to-r from-[#00E5A0] via-[#06B6D4] to-[#6366F1] bg-clip-text text-transparent">
        modern tools &amp; frameworks.
      </span>
    </h2>
  </div>

  <div class="relative w-full" aria-hidden="true">
    <!-- Edge fades -->
    <div class="pointer-events-none absolute inset-y-0 left-0 z-10 w-24 md:w-40 bg-gradient-to-r from-[var(--bg)] to-transparent"></div>
    <div class="pointer-events-none absolute inset-y-0 right-0 z-10 w-24 md:w-40 bg-gradient-to-l from-[var(--bg)] to-transparent"></div>

    <div class="flex w-fit animate-scroll-ltr items-center">
      {items.map((tech) => (
        <div class="mx-4 md:mx-6 shrink-0 flex items-center gap-3 rounded-xl border border-[var(--border)] bg-[var(--bg-card)] px-5 py-3 opacity-90 hover:opacity-100 hover:border-[var(--accent)]/30 transition-all duration-300">
          <div class="h-8 w-8 md:h-10 md:w-10 shrink-0" set:html={tech.svg} />
          <span class="text-sm md:text-base font-medium text-[var(--text-dim)] whitespace-nowrap">
            {tech.name}
          </span>
        </div>
      ))}
    </div>
  </div>
</section>
